<!DOCTYPE html>
<html lang="vi">
<head>
	<title>Management System</title>
	<link rel="stylesheet" href="style_index.css">
  <meta charset="utf-8">
</head>
<body>
<div id="menu">
      <ul>
        <li><th><form action="/product"><input type="submit" value = "Management System"></form></li>
        <li id="click"><a onclick="contact();">Contact</a></li>
        <li id="click"><a onclick="about();">About</a></li>
      </ul>
      <script type="text/javascript">
        function about(){
        alert("Copyright by Mercury Shop 2019");
        }
      </script> <!--#script for About-->
      <script type="text/javascript">
        function contact(){
        alert("Contact with us : 0986 989 340 ");
        }
      </script> <!--#script for Contact-->
</div>
<img src="https://img.freepik.com/free-vector/gradient-mobile-isometric-technology-background_52683-4499.jpg?size=626&ext=jpg" width="50%" height="50%">
</body>
</html>